=> CRUD :

---User---
Get room list - R
Request for room - U
Get request states - R

---System Manager---
Get room list - R
Add room - C
Remove room - D

---Reserve Manager---
Get request list - R
Ack or Nak to request - U